*
!.gitignore

!README.md
!CONTRIBUTING.md # https://github.com/linuxthemes/base

!.bashrc
!.themes
!.icons
!.config

!Pictures

!.config/eza
!.config/eza/*


!.config/fastfetch
!.config/fastfetch/*






