*
!.gitignore

!README.md
!CONTRIBUTING.md # https://github.com/linuxthemes/base

!.bashrc
!.themes
!.icons
!.config

!Pictures

!.config/eza
!.config/eza/*

!.config/fastfetch
!.config/fastfetch/*

!.config/ghostty
!.config/ghostty/*

!.config/Code
!.config/Code/User
!.config/Code/User/settings.json
!.config/Code/User/keybindings.json


